@media (max-width:1200px){
    section{padding: 3rem 2rem;}
    .services .box-container{gap: 5rem 1.5rem;}
}
@media (max-width:991px){
     html{font-size: 55%;scroll-padding-top: 7rem;}
    .home .box{background-position: right !important;justify-content: center;}
    .home .second{background-position: left !important;justify-content: center;}
    .home .box .content{text-align: center;}
}
@media (max-width:768px){
    .navbar .icons #menu-bar{display: initial;}
    .header .navbar .menu{display: none;}
    .home{height: 60vh;}
    .home::before{height: 60vh;}
    .home .slider-bg {height: 30vh;width: 60vw;}
    .home .arrow{top: 30%;padding: 10px;font-size: 14px;}
    .home .left-arrow {left: calc(15vw - 25px);}
    .home .right-arrow {right: calc(15vw - 25px);}
    .home .second{background-position: right !important;justify-content: center;}
    .side_bar.active{left: 0;}
    .side_navbar.active{display: block;}
    .cart_menu.active{display: block;}
    .body-overly.active{opacity: .3;visibility: visible;}
    .heading {font-size: 4rem;}
    .slider.owl-carousel .owl-nav > button {display: none;}
    .shop .shop-slider .owl-nav  button{display: none;}
    .services .box-container .box img{top: -41px;}
    .services .box-container{margin-top: 3rem;}
    .services::before{height: 105rem;}
    .client .client-wrap .content{left: 0}
    .client .client-wrap .client-img img{box-shadow: none;}
    .about-main .menu .item::before {right: -21px;}
    .vision-mission .box-wrap .content{height: auto;}
    .services .box-container .box .content{height: 30rem;}
    .about .image{order: 2;}
    .about .image img {width: 70%;margin-left: 8rem;}
    .about-wrap .about-info .about-img img{width: 65%;margin-left: 8rem;}
    .contact-frm .row .contact-form {padding: 2rem;}
    .contact .container .contact-box .box {height: 175px;}
    .cont-wrap .contact-had {width: 100%;}
    .about-wrap .about-info .content h2::before{top: 46px;right: 11%;}
    .about-main .content{min-height: 45vh;}
    .client .client-wrap .order{order: 2;}
    .client .client-wrap {gap: 0px;}
    .client .client-wrap .quality-content .quality-info {margin-top: 0rem;}
}

@media (max-width:450px){
    html {
        font-size: 50%;
      }
      .heading {
        font-size: 3rem;
      }
}